<% if @post.errors.any? %>
  <div class="alert alert-error">
    <h5>There are some errors.</h5>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :Title, "Title:" %>
  <%= f.text_field :title %><br/>
  <%= f.label :Description, "Description:" %>
  <%= f.text_area :description, rows: 5 %><br/>
  <%= f.label :url, "URL:" %>
  <%= f.text_field :url %><br/>
  <%= f.text_field :user_id, value: "2" %>
  <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>