<%= render "shared/error", obj: @category %>

<%= form_for @category do |f| %>
  <%= f.label :Name, "Name:" %>
  <%= f.text_field :name %><br/>
  <%= f.submit 'Submit', class: "btn btn-primary" %>
<select multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
<% end %>