<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>
<%= render 'shared/content_title', title: header %>

<% @posts.each do |post| %>
<div class='row'>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4>
      <%= link_to post.title, post.url %>
    </h4>
    <p>
      <%= post.description %>
    </p>
    <span class='quiet'>
      posted by <%= post.user.username %>
    </span>
    <small>at <%= post.created_at %> </small>
    <p><%= link_to("#{post.comments.size} comments", post_path(post)) %></p>
  </div>
</div>
<% end %>