<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Post New', new_post_path %>
  </li>
  <div class="btn-group nav_item">
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Categories
    <ul class="dropdown-menu">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %> </li>
      <% end %>
    </ul>
  <% end %>
  </div>
</ul>
<div class="nav_item">
  <%= link_to 'New Post', new_post_path, class: 'btn btn-sussess btn-small' %>
</div>
